# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pym
*.pyo
*.pyc
.Python
env/
venv/
.venv/
.python-version
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
htmlcov/
dist/
build/
.eggs/
*.egg-info/
.installed.cfg
*.egg
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.log
*.sqlite3
.DS_Store

# VS Code
.vscode/
